{% extends 'base.html' %}
{% load static %}

{% block title %}{{ activity.title }} - {{ site_settings.site_name|default:"SaiReeCMPO" }}{% endblock %}

{% block content %}
<section id="activity-detail" style="padding-top: 120px;">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% if activity.image %}
                <img src="{{ activity.image.url }}" class="img-responsive" alt="{{ activity.title }}" style="margin-bottom: 20px;">
                {% endif %}
                
                <h1>{{ activity.title }}</h1>
                
                <div class="post-meta" style="margin-bottom: 20px; color: #777;">
                    <span><i class="fa fa-calendar"></i> {{ activity.event_date|date:"d M Y" }}</span>
                    {% if activity.event_time %}
                    <span><i class="fa fa-clock-o"></i> {{ activity.event_time|time:"H:i" }}</span>
                    {% endif %}
                    {% if activity.location %}
                    <span><i class="fa fa-map-marker"></i> {{ activity.location }}</span>
                    {% endif %}
                    <span><i class="fa fa-eye"></i> {{ activity.view_count }} views</span>
                </div>
                
                <div class="content">
                    {{ activity.description|safe }}
                </div>
                
                {% if activity.galleries.all %}
                <hr>
                <h4>Photo Gallery</h4>
                <div class="row">
                    {% for photo in activity.galleries.all %}
                    <div class="col-md-4 col-sm-6" style="margin-bottom: 15px;">
                        <a href="{{ photo.image.url }}" target="_blank">
                            <img src="{{ photo.image.url }}" class="img-responsive img-thumbnail" alt="{{ photo.caption }}">
                        </a>
                        {% if photo.caption %}<p class="text-center"><small>{{ photo.caption }}</small></p>{% endif %}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                
                <hr>
                <a href="{% url 'content:activities_list' %}" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back to Activities</a>
            </div>
            
            <div class="col-md-4">
                <h4>Recent Activities</h4>
                <ul class="list-unstyled">
                    {% for item in recent_activities %}
                    <li style="margin-bottom: 15px; padding: 10px; background: #f9f9f9;">
                        <a href="{% url 'content:activity_detail' item.pk %}">{{ item.title }}</a>
                        <br><small class="text-muted">{{ item.event_date|date:"d M Y" }}</small>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
