{% extends 'dashboard/base.html' %}
{% block title %}Tags{% endblock %}
{% block page_title %}Manage Blog Tags{% endblock %}
{% block dashboard_content %}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Blog Tags</h5>
        <a href="{% url 'blog:dashboard_tag_add' %}" class="btn btn-primary"><i class="fa fa-plus"></i> Add Tag</a>
    </div>
    <div class="card-body">
        <table class="table">
            <thead><tr><th>Name</th><th>Slug</th><th>Actions</th></tr></thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td><td>{{ item.slug }}</td>
                    <td>
                        <a href="{% url 'blog:dashboard_tag_edit' item.pk %}" class="btn btn-sm btn-outline-primary"><i class="fa fa-edit"></i></a>
                        <a href="{% url 'blog:dashboard_tag_delete' item.pk %}" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {% empty %}<tr><td colspan="3" class="text-center text-muted">No tags</td></tr>{% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
